<div class="row header-row">
  <div class="col-md-4">
      <nav class="navbar navbar-light bg-lignt">    
          <button class="navbar-toggler" type="button" (click)="openSideNav()">
              <span class="navbar-toggler-icon my-toggler"></span>
          </button>
        </nav>
  </div>

  <div class="col-md-4">
    <span class="logo-txt-left">Web </span> <span class="logo-txt-right">MIS</span>
  </div>
  <div class="col-md-4">
    <img src="./assets/logo_mzor.jpeg" height="40"/>
  </div>


</div>




