
.nav-parent li a{
    padding: 10px;
    display: block;
    color: #333333;
    text-transform: uppercase;
    font-size: 12px;
}
.nav-parent li a:hover{
    text-decoration: none;
}
.nav-child{
    display: none;
}

.nav-child li a{
    padding-left: 30px;
    
}
.nav-parent li.active a{
    border-left: solid 2px #FE7C31;
}

.nav-parent li.active .nav-child{
    display: block !important;
}
.nav-parent li .arrow{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.nav-parent li.active .arrow{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.arrow{
    position: relative;
    top:7px;
}
.nav-child li a{
    border-left: none !important;
}
.nav-child li.active a{
    border-left: solid 2px #FE7C31 !important;
} 


