/* Add application styles & imports to this file! */

#sideNav{
    position: fixed;
    height: 100vh;
    left: 0;
    background-color: #F9F6F6;
    margin-left: -250px;
    z-index: 9999;
    width: 0;
    -webkit-transition: margin-left 2s,width 2s; /* Safari */
    transition: margin-left 2s,width 2s;
    border-right:solid 1px #ECECEC;
    background-image: linear-gradient(#ECECEC, #FBE3D7);
    overflow: auto;
  }
  #content.active{
    margin-left: 250px;
    -webkit-transition: width 1s; /* Safari */
    transition: width 1s; 
  }
  #sideNav.active{
    width: 250px; 
    margin-left: 0;
    -webkit-transition: width 1s; /* Safari */
    transition: width 1s; 
    
  }
  .side-nav-header{
    background-color: #7F7F7F;
    height: 80px;
    color:#ffffff;
  }
  .nav-header-content{
    text-align: center;
    color: #ffffff;
    position: relative;
    top:10px;
  }
  .custom-toggler.navbar-toggler {    
      color: rgba(0,0,0,.5);
  }
  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(9,55,244, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  .navbar-light{
    padding: 0 !important;
    margin: 0 !important;
  }
  .header-row{
    background-color:#ffffff;
    height:40px;
    position: fixed;
    top:0;
    z-index: 8888;
    width: 100%;
  }
  .footer-row{
    background-color:#FE7C31;
    position: fixed;
    z-index: 9999;
    bottom: 0;
    width: 100%;
  }
  .mid-container{
    background-image: linear-gradient(#ECECEC, #ffffff);
    padding:5px 0 5px 0;
    min-height: 100vh;
    margin-top:40px;
    }
    .logo-txt-left{
      color:#FE7C31;
    }
    .logo-txt-left,.logo-txt-right{
      font-size: 20px;
    }
 
    .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus, .btn-primary:active:focus{
      background-color: #FE7C31!important;
      border-color: #FE7C31 !important;
    }
